@font-face {
  font-family: Nanumbarunpen;
  src: local(nanumbarunpenr),
  local(nanumbarunpenr),
  url(../../assets/fonts/nanumbarunpenr.eot?#iefix) format('embedded-opentype'),
  url(../../assets/fonts/nanumbarunpenr.woff) format('woff'),
  url(../../assets/fonts/nanumbarunpenr.woff2) format('woff2'),
  url(../../assets/fonts/nanumbarunpenr.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Nanumbarunpen;
  src: local(nanumbarunpenb),
  local(nanumbarunpenb),
  url(../../assets/fonts/nanumbarunpenb.eot?#iefix) format('embedded-opentype'),
  url(../../assets/fonts/nanumbarunpenb.woff) format('woff'),
  url(../../assets/fonts/nanumbarunpenb.woff2) format('woff2'),
  url(../../assets/fonts/nanumbarunpenb.ttf) format('truetype');
  font-style: normal;
  font-weight: bold;
}