@charset "UTF-8";
@import "fonts.css";

html{font-family: NotoSansKR, sans-serif;}
.ir{position: absolute; top: -9999px; text-indent: -9999px; overflow: hidden;}
select { border-radius:0;  -webkit-appearance:none;  -moz-appearance:none; appearance:none; }
select::-ms-expand{ display:none }
select:focus {outline: none;}
input:focus {outline: none;}
button{cursor: pointer}
a{color: #333;}


/*모바일 device*/
@media screen and (min-width: 320px){

    header{padding: 0 20px; display: flex; align-items: center; height: 58px;}
    header .logo{width: 73px; height: 33px;}
    header .logo a{display: inline-block; width: 100%; height: 100%;}
    header .logo img{width: 100%; height: 100%;}

    .m-menu{margin-left: auto; width: 38px; height: 26px; background: url(../img/m_menu.png) no-repeat; background-size: contain;}
    .m-dim{display: none; z-index: 1; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(50, 65, 81, 0.51);}
    .m-dim.open{display: block;}
    .m-menu.open + nav{display: flex; width: 244px; transition: all .2s ease;}
    nav{ z-index: 2; position: fixed; right: 0; top: 0; width: 0; height: 100%; display: none; flex-direction: column; background-color: #fff;}
    nav .menu_list{}
    nav .menu_list li{height: 56px; line-height: 56px; border-bottom: 1px solid #454545; text-align: center;}
    nav .menu_list li a{display: inline-block; width: 100%; height: 100%; font-size: 20px; font-weight: 300; color: #333;}
    nav .menu_list li a:active{color: #d0e00a;}

    nav .company_info{padding: 26px 0 26px 20px;margin-top: auto; height: 120px; background-color: #1c282d; box-sizing: border-box;}
    nav .company_info th{color: #fefefe; text-align: left; width: 73px;}
    nav .company_info td{color: #999;}

    .main-section{width: 100%; height: 307px;}
    .main-section article{ width: 100%; height: 100%;}
    .main-section .slick-slider{position: relative; width: 100%; height: 307px;}
    .main-section .slick-slider .slick-list{height: 100%;}
    /*.main-section img{position: relative; width: 100%; height: 307px;}*/
    .main-section .slick-slider a{display: inline-block; width: 100%; height: 307px;}
    .main-section .slick-slider .btn-more{position: absolute; left: 50%; bottom: 30px; margin-left: -73.5px; width: 147px; height: 34px; line-height: 34px; font-size: 14px; font-weight: 700; color: #fff; text-align: center; background: url(../img/btn_line_1.png) no-repeat; background-size: contain;}
    /*.main-section .slick-slider .btn-more .arrow-right{display: inline-block; margin-left: 20px; width: 9px; height: 10px; background: url(../img/arr_right.png) no-repeat right; background-size: contain;}*/
    .main-section .slick-slider img{display: inline-block; width: 100%; height: 307px;}
    .main-section .slick-dots{position: absolute; left: 50%; bottom: 0; transform: translate(-50%,-50%); font-size: 0;}
    .main-section .slick-dots li{margin: 4px; display: inline-block; vertical-align: middle;}
    .main-section .slick-dots li button{padding: 0; width: 12px; height: 12px; border-radius: 100%; background-color: #dedede; text-indent: -9999px;}
    .main-section .slick-dots .slick-active button{width: 55px; background-color: #d0e00a; border-radius: 8px;}

    /*.second-section{padding: 0 30px;}*/
    .second-section .info-txt-wrap{position: relative; padding: 0 33px; background: url('../img/m_second_section_bg.png') no-repeat; background-size: 100% 100%;}
    .second-section .info-txt-wrap:before{content:''; display: inline-block; width: 3px; height: 100%;  background-color: #f1f6b5; }
    .second-section .info-txt-wrap h2{font-size: 24px; font-weight: 400; color: #333;}
    .second-section .info-txt-wrap .txt{}
    .second-section .info-txt-wrap .txt li{position: relative; padding-left: 15px;}
    .second-section .info-txt-wrap .txt li:before{content:''; position: absolute; top: 0; left: 0; display: inline-block; width: 10px; height: 10px; border-radius: 100%; background-color: #ed6c0b;}
    .second-section .slick-album{}
    .second-section .slick-slider .slick-slide{}
    .second-section .slick-album .slick-slide a{display: inline-block; width: 136px; height: 136px;}
    .second-section .slick-album .slick-slide a img{width: 136px; height: 136px;}
    .second-section .slick-dots{position: absolute; left: 50%; bottom: 0; transform: translate(-50%,-50%); font-size: 0;}
    .second-section .slick-dots li{margin: 4px; display: inline-block; vertical-align: middle;}
    .second-section .slick-dots li button{padding: 0; width: 12px; height: 12px; border-radius: 100%; background-color: #dedede; text-indent: -9999px;}
    .second-section .slick-dots .slick-active button{width: 55px; background-color: #d0e00a; border-radius: 8px;}
    .second-section .right-cnt{padding: 0 30px; background-color: #e6007f}
    .second-section .right-cnt h3{font-size: 20px; color: #fff; font-weight: 700;}

    .third-section{ height: 236px; background-color: #ededed; overflow: hidden;}
    .third-section article{}
    .third-section h2{}
    .third-section .slick-center-album li{display: inline-block; vertical-align: middle;}
    .third-section .slick-center-album .slick-slide{position: relative;  margin: 0 15px; display: inline-block; vertical-align: middle;}
    .third-section .slick-center-album .shape{position: relative; display: flex; align-items: center; width: 110px; height: 110px; border-radius: 100%; background-color: #fff;}
    .third-section .slick-center-album .shape:before{content:''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: inline-block; width: 32px; height: 32px; border-radius: 100%; background-color: #fff;}
    .third-section .slick-center-album .shape:after{content:''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: inline-block; width: 25px; height: 25px; border-radius: 100%; background-color: #ededed;}
    .third-section .slick-center-album .shape img{margin: auto; display: inline-block; width: 100px; height: 100px; border-radius: 100%;}
    .third-section .slick-center-album .slick-center .shape{width: 160px; height: 160px; box-shadow: 0 0 15px rgba(0,0,0,0.3);}
    .third-section .slick-center-album .slick-center .shape:before{width: 50px; height: 50px;}
    .third-section .slick-center-album .slick-center .shape:after{width: 45px; height: 45px;}
    .third-section .slick-center-album .slick-center .shape img{width: 150px; height: 150px;}
    /*.third-section .slick-center-album .slick-list{overflow: visible;}*/
    /*.third-section .slick-center-album .slick-list .slick-slide{margin: 0 15px; width: 110px !important;}*/
    /*.third-section .slick-center-album .slick-list .slick-slide.slick-center {width: 160px !important;}*/


    .third-section .slick-center-album .album-info{width: 100px; background-color: #fff; border-radius: 4px;}
    .third-section .slick-center-album .album-info .title-name{}
    .third-section .slick-center-album .album-info .singer-name{}
    .third-section .slick-center-album .album-info .right-icon{}
    .third-section .slick-center-album .album-info .right-icon .icon-wrap{font-size: 0;}
    .third-section .slick-center-album .album-info .right-icon .icon-wrap li{display: inline-block; vertical-align: middle;}
    .third-section .slick-center-album .album-info .right-icon .icon-wrap .share{display: inline-block; width: 19px; height: 19px; background: url(../img/share.png) no-repeat;}
    .third-section .slick-center-album .album-info .right-icon .icon-wrap .like{display: inline-block; width: 25px; height: 19px; background: url(../img/liek.png) no-repeat;}
    .third-section .slick-center-album .album-info .right-icon .icon-wrap li a{}
    .third-section .slick-center-album .album-info .icon-wrap{font-size: 0;}
    .third-section .slick-center-album .album-info .icon-wrap li{display: inline-block; vertical-align: middle;}
    .third-section .slick-center-album .album-info .icon-wrap li a{}
    .third-section .slick-center-album .album-info .icon-wrap .melon{width: 11px; height: 9px; background: url(../img/melon.png) center no-repeat; background-size: contain;}
    .third-section .slick-center-album .album-info .icon-wrap .bugs{width: 11px; height: 9px; background: url(../img/bugs.png) center no-repeat; background-size: contain;}
    .third-section .slick-center-album .album-info .icon-wrap .mnet{width: 11px; height: 9px; background: url(../img/mnet.png) center no-repeat; background-size: contain;}
    .third-section .slick-center-album .album-info .icon-wrap .google{width: 11px; height: 9px; background: url(../img/google.png) center no-repeat; background-size: contain;}
    .third-section .slick-center-album .album-info .icon-wrap .youtube{width: 11px; height: 9px; background: url(../img/youtube.png) center no-repeat; background-size: contain;}
    .third-section .slick-center-album .slick-slider{}
    .third-section .slick-center-album .slick-slider a{}
    .third-section .slick-center-album .slick-slider a img{}
    .third-section .slick-center-album .album-info .btn-block{display: inline-block; width: 60px; height: 16px; background: url(../img/btn_line_2.png) no-repeat; background-size: contain; font-size: 6px; color: #f66d05; text-align: center;}

    .fourth-section{background: url(../img/fourth_section_bg.png) no-repeat; background-size: 100%;}
    .fourth-section article{font-size: 0;}
    .fourth-section .left-cnt , .fourth-section .right-cnt{width: 152px; height: 150px; display: inline-block; vertical-align: middle;}
    .fourth-section .left-cnt img , .fourth-section .right-cnt img{width: 100%; height: 100%;}
    .fourth-section .right-cnt{}

    .question-section{background-color: #f8f7f3;}
    .question-section article{}
    .question-section article h2{color: #b1bf00;}
    .question-section article p{color: #b1bf00;}
    .question-section .accordion_list{font-size: 0;}
    .question-section .accordion_list .title{height: 40px; font-weight: 700; font-size: 0; border-bottom: 1px solid #f8f7f3; cursor: pointer; background-color: #fff;}
    .question-section .accordion_list .title .q_txt{width: 40px; line-height: 36px; font-size: 16px; color: #333; font-weight: 700; background-color: #ffec4a; text-align: center; }
    .question-section .accordion_list .title span{display: inline-block; width: calc(100% - 40px); height: 100%; vertical-align: middle; font-size: 16px;}
    .question-section .accordion_list .answer_cnt{font-size: 16px;}
    .question-section .accordion_list .answer_cnt .a_txt{display: inline-block; width: 30px; height: 30px; line-height: 30px; color: #333; font-size: 16px; font-weight: 700; border-radius: 100%; background-color: #ffec4a; text-align: center;}
    .question-section .accordion_list .answer_cnt span{}

    .consulting-section{background: url("../img/consulting_bg.png") no-repeat; background-size: cover;}
    .consulting-section article{color: #fff;}
    .consulting-section h2{color: #fff;}
    .consulting-section h2 strong{}
    .consulting-section p{}
    .consulting-section .input-list{}
    .consulting-section .input-list tr th{}
    .consulting-section .input-list tr td{}
    .consulting-section .input-list tr td input{}
    .consulting-section .input-list tr td .btn_txt{}

    /*음반제작 css*/
    .production-top{background: url('../img/sub_top_bg_01.png') no-repeat; background-size: cover;}
    .production-top article{color: #fff;}
    .production-top article h2{}
    .production-top article .line{display: inline-block; width: 150px; height: 2px; background-color: #fff;}
    .production-top article p{}

    .production-order{}
    .production-order article{}
    .production-order .list-wrap{}
    .production-order .list-wrap li{}
    .production-order .list-wrap li .number{font-weight: 700; font-size: 37px; color: #333;}
    .production-order .list-wrap li .content{position: relative; width: 100%; height: 110px; background: url('../img/card_line_bg.png') no-repeat;}
    .production-order .list-wrap li .content .info-box{position: absolute; top: 10px; left: 10px; height: calc(100% - 10px); background-color: #fff;}
    .production-order .list-wrap li .title{display: inline-block; border-top: 1px solid #333; font-size: 20px; color: #333; letter-spacing: -1px;}
    .production-order .list-wrap li .txt{}


    footer{background-color: #1c282d; text-align: center;}
    footer .logo{margin: 0 auto; width: 120px; height: 52px; background: url('../img/footer_logo.png') no-repeat; background-size: 100%;}
    footer .sns-wrap{}
    footer .sns-wrap li{}
    footer .sns-wrap li a{display: inline-block}
    footer .sns-wrap li .youtube{width: 17px; height: 17px; background: url('../img/sns_icon_01.png') no-repeat; background-size: 100%;}
    footer .sns-wrap li .facebook{width: 17px; height: 17px; background: url('../img/sns_icon_02.png') no-repeat; background-size: 100%;}
    footer .sns-wrap li .instargram{width: 17px; height: 17px; background: url('../img/sns_icon_03.png') no-repeat; background-size: 100%;}
    footer .sns-wrap li .b_icon{width: 17px; height: 17px; background: url('../img/sns_icon_04.png') no-repeat; background-size: 100%;}
    footer .company_info{}
    footer .company_info ul{}
    footer .company_info ul li{}
    footer .company_info ul li a{color: #fff;}
    footer .company_info p{color: #999;}
    cite{color: #999; font-style: normal;}

}
/*태블릿 device*/
@media screen and (min-width: 768px) {
}
/*pc device*/
@media screen and (min-width: 1024px){

}

