@charset "UTF-8";
@import "fonts.css";

html{font-family: NotoSansKR, sans-serif;}
.ir{position: absolute; top: -9999px; text-indent: -9999px; overflow: hidden;}
select { border-radius:0;  -webkit-appearance:none;  -moz-appearance:none; appearance:none; }
select::-ms-expand{ display:none }
select:focus {outline: none;}
input:focus {outline: none;}
button{cursor: pointer}
a{color: #333;}
.btn_block{}

/*모바일 device*/
@media screen and (min-width: 320px){

    header{padding: 0 20px; display: flex; align-items: center; height: 58px;}
    header .logo{width: 73px; height: 33px;}
    header .logo a{display: inline-block; width: 100%; height: 100%;}
    header .logo img{width: 100%; height: 100%;}

    .m-menu{margin-left: auto; width: 38px; height: 26px; background: url(../img/m_menu.png) no-repeat; background-size: contain;}
    .m-dim{display: none; z-index: 1; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(50, 65, 81, 0.51);}
    .m-dim.open{display: block;}
    .m-menu.open + nav{display: flex; width: 244px; transition: all .2s ease;}
    nav{ z-index: 2; position: fixed; right: 0; top: 0; width: 0; height: 100%; display: none; flex-direction: column; background-color: #fff;}
    nav .menu_list{}
    nav .menu_list li{height: 56px; line-height: 56px; border-bottom: 1px solid #454545; text-align: center;}
    nav .menu_list li a{display: inline-block; width: 100%; height: 100%; font-size: 20px; font-weight: 300; color: #333;}
    nav .company_info{padding: 26px 0 26px 20px;margin-top: auto; height: 120px; background-color: #1c282d; box-sizing: border-box;}
    nav .company_info th{color: #fefefe; text-align: left; width: 73px;}
    nav .company_info td{color: #999;}

    .main-section{width: 100%; height: 307px;}
    .main-section article{ width: 100%; height: 100%;}
    .main-section .slick-slider{position: relative; width: 100%; height: 307px;}
    .main-section .slick-slider .slick-list{height: 100%;}
    /*.main-section img{position: relative; width: 100%; height: 307px;}*/
    .main-section .slick-slider a{display: inline-block; width: 100%; height: 307px;}
    .main-section .slick-slider .btn-more{position: absolute; left: 50%; bottom: 30px; margin-left: -73.5px; width: 147px; height: 34px; line-height: 34px; font-size: 14px; font-weight: 700; color: #fff; text-align: center; background: url(../img/btn_line_2.png) no-repeat; background-size: contain;}
    /*.main-section .slick-slider .btn-more .arrow-right{display: inline-block; margin-left: 20px; width: 9px; height: 10px; background: url(../img/arr_right.png) no-repeat right; background-size: contain;}*/
    .main-section .slick-slider img{display: inline-block; width: 100%; height: 307px;}
    .main-section .slick-dots{position: absolute; left: 50%; bottom: 0; transform: translate(-50%,-50%); font-size: 0;}
    .main-section .slick-dots li{margin: 4px; display: inline-block; vertical-align: middle;}
    .main-section .slick-dots li button{padding: 0; width: 12px; height: 12px; border-radius: 100%; background-color: #dedede; text-indent: -9999px;}
    .main-section .slick-dots .slick-active button{width: 55px; background-color: #d0e00a; border-radius: 8px;}

    .second-section article
    .second-section .info-txt-wrap
    .second-section .info-txt-wrap h2
    .second-section .info-txt-wrap .txt
    .second-section .slick-album
    .second-section .slick-album .slick-slider
    .second-section .slick-album .slick-slider a
    .second-section .slick-album .slick-slider a img
    .second-section .slick-album .slick-dots
    .second-section .slick-album .slick-dots li
    .second-section .slick-album .slick-dots li button

    .third-section article
    .third-section h2
    .third-section .slick-center-album
    .third-section .slick-center-album .album-info
    .third-section .slick-center-album .album-info .title-name
    .third-section .slick-center-album .album-info .singer-name
    .third-section .slick-center-album .album-info .right-icon
    .third-section .slick-center-album .album-info .right-icon .icon-wrap
    .third-section .slick-center-album .album-info .right-icon .icon-wrap li
    .third-section .slick-center-album .album-info .right-icon .icon-wrap li a
    .third-section .slick-center-album .album-info .icon-wrap
    .third-section .slick-center-album .album-info .icon-wrap li
    .third-section .slick-center-album .album-info .icon-wrap li a
    .third-section .slick-center-album .slick-slider
    .third-section .slick-center-album .slick-slider a
    .third-section .slick-center-album .slick-slider a img
    .third-section .slick-center-album .album-info .btn-block
    .third-section .slick-center-album .album-info .btn-block span

    .fourth-section
    .fourth-section article
    .fourth-section .left-cnt
    .fourth-section .right-cnt

    .question-section
    .question-section article
    .question-section .accordion_list
    .question-section .accordion_list .title
    .question-section .accordion_list .title .q_txt
    .question-section .accordion_list .title span
    .question-section .accordion_list .answer_cnt
    .question-section .accordion_list .answer_cnt .a_txt
    .question-section .accordion_list .answer_cnt span

    .consulting-section article
    .consulting-section h2
    .consulting-section h2 strong
    .consulting-section p
    .consulting-section .input-list
    .consulting-section .input-list tr th
    .consulting-section .input-list tr td
    .consulting-section .input-list tr td input
    .consulting-section .input-list tr td .btn_txt

    footer
    footer .logo
    footer .sns-wrap
    footer .sns-wrap li
    footer .sns-wrap li a
    footer .sns-wrap li .youtube
    footer .sns-wrap li .facebook
    footer .sns-wrap li .instargram
    footer .sns-wrap li .b_icon
    footer .company_info
    footer .company_info ul
    footer .company_info ul li
    footer .company_info ul li a
    footer .company_info p
    footer cite

}
/*태블릿 device*/
@media screen and (min-width: 768px) {
}
/*pc device*/
@media screen and (min-width: 1024px){

}

